<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hu.netacademia.Day1.Droid" android:installLocation="auto" android:versionCode="1" android:versionName="0.0.1.0">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<application android:label="Day1.Droid" android:icon="@drawable/icon"></application>
	<provider android:name="android.support.v4.content.FileProvider" android:authorities="hu.netacademia.Day1.Droid.fileprovider" android:exported="false" android:grantUriPermissions="true">
		<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
	</provider>
</manifest>